<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <display-name>CFS-Employee</display-name>
  
  <servlet>
    <description>Employee</description><servlet-name>controller-servlet</servlet-name>
    <servlet-class>
        	controller.Controller
        </servlet-class>
    <init-param>
      <param-name>jdbcDriverName</param-name>
      <param-value>   com.mysql.jdbc.Driver   </param-value>
    </init-param>
    <init-param>
      <param-name>jdbcURL</param-name>
      <param-value>   jdbc:mysql:///test      </param-value>
    </init-param>
  </servlet>
  <servlet>
		<servlet-name>LocationServlet</servlet-name>
		<servlet-class>iOS_Communication.LocationServlet</servlet-class>
	</servlet>
	 <servlet>
		<servlet-name>GetRegionServlet</servlet-name>
		<servlet-class>iOS_Communication.GetRegionServlet</servlet-class>
	</servlet>
  <servlet-mapping>
    <servlet-name>controller-servlet</servlet-name>
    <url-pattern>   *.do                     </url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
		<servlet-name>LocationServlet</servlet-name>
		<url-pattern>/locate</url-pattern>
	</servlet-mapping>
	 <servlet-mapping>
		<servlet-name>GetRegionServlet</servlet-name>
		<url-pattern>/getRegion</url-pattern>
	</servlet-mapping>

  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>